body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

main {
    margin: 3rem;
    width: 60%;
    height: 80vh;
    max-width: 600px;
    background-color: cadetblue;
    display: flex;
    flex-direction: column;
}

button{
    width: 40%;
}
button:hover {
    cursor: pointer;
}

